.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 80px;
}

.btn{
  margin: 20px 0;
}

.App-photo {
  height: 300px;
  padding: 10px 0;
}

.App-title{
  color: #3611d8;
  font-size: 40px; 
  font-family: Lucida; 
}

.App-bio{
  color: #50514f;
  font-size: 40px; 
  padding: 10px 0;
}

.App-prof{
  color: #1b4965;
  font-family: Georgia;
}